
.api-response textarea {
  max-height: 180px !important;
  overflow-y: auto !important;
  resize: none !important;
}

.markdown-result {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 10px;
  overflow-y: hidden ;
  overflow-x: hidden ;
  resize: none ;
  display: block ;
}

#original-copywriting-markdown {
  height: 200px !important;
  max-height: 200px !important;
}

#video-analysis-markdown {
  height: 250px !important;
  max-height: 250px !important;
}

#remake-script-markdown {
  height: 400px !important;
  max-height: 400px !important;
}

.video-preview {
  border-radius: 8px !important;
}

.video-preview video {
  border-radius: 8px !important;
}
